-- CreateEnum
CREATE TYPE "ProjectStatus" AS ENUM ('under_construction', 'ready_to_move', 'new_launch');

-- CreateEnum
CREATE TYPE "ImageType" AS ENUM ('hero', 'exterior', 'interior', 'floor_plan', 'amenity', 'master_plan', 'clubhouse', 'pool', 'location_map');

-- CreateEnum
CREATE TYPE "AmenityCategory" AS ENUM ('sports', 'lifestyle', 'wellness', 'kids', 'security', 'parking');

-- CreateEnum
CREATE TYPE "ConnectivityType" AS ENUM ('metro', 'road', 'school', 'hospital', 'mall', 'landmark', 'airport', 'university');

-- CreateEnum
CREATE TYPE "DataSource" AS ENUM ('brochure', 'google', 'estimated', 'manual');

-- CreateEnum
CREATE TYPE "MessageRole" AS ENUM ('user', 'assistant');

-- CreateEnum
CREATE TYPE "SiteVisitStatus" AS ENUM ('pending', 'confirmed', 'cancelled', 'completed');

-- CreateTable
CREATE TABLE "builders" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "slug" TEXT NOT NULL,
    "tagline" TEXT,
    "parent_group" TEXT,
    "founded_year" INTEGER,
    "headquarters" TEXT,
    "website" TEXT,
    "email" TEXT,
    "phone" TEXT,
    "credai_member" BOOLEAN NOT NULL DEFAULT false,
    "delivered_units" INTEGER,
    "delivered_projects" TEXT[],
    "ongoing_projects" TEXT[],
    "awards" TEXT[],
    "awards_count" INTEGER,
    "description" TEXT,
    "legal_flag" TEXT,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "builders_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "projects" (
    "id" TEXT NOT NULL,
    "slug" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "tagline" TEXT,
    "builder_id" TEXT NOT NULL,
    "rera_number" TEXT,
    "rera_url" TEXT,
    "city" TEXT NOT NULL DEFAULT 'Noida',
    "sector" TEXT NOT NULL,
    "address" TEXT,
    "lat" DOUBLE PRECISION,
    "lng" DOUBLE PRECISION,
    "land_area_acres" DOUBLE PRECISION,
    "total_units" INTEGER,
    "total_towers" INTEGER,
    "status" "ProjectStatus" NOT NULL,
    "possession_date" TIMESTAMP(3),
    "possession_label" TEXT,
    "description" TEXT,
    "long_description" TEXT,
    "design_theme" TEXT,
    "architect" TEXT,
    "interior_designer" TEXT,
    "project_risk_flag" TEXT,
    "marketing_claims" TEXT[],
    "ai_search_keywords" TEXT[],
    "hero_image_url" TEXT,
    "embedding" vector(1024),
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "projects_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "unit_types" (
    "id" TEXT NOT NULL,
    "project_id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "bhk" INTEGER NOT NULL,
    "super_area_sqft" INTEGER,
    "carpet_area_sqft" INTEGER,
    "balcony_area_sqft" INTEGER,
    "bathrooms" INTEGER,
    "utility_room" BOOLEAN NOT NULL DEFAULT false,
    "dress_area" BOOLEAN NOT NULL DEFAULT false,
    "towers" TEXT[],
    "price_min_cr" DOUBLE PRECISION,
    "price_max_cr" DOUBLE PRECISION,
    "price_label" TEXT,
    "price_is_estimated" BOOLEAN NOT NULL DEFAULT true,

    CONSTRAINT "unit_types_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "project_images" (
    "id" TEXT NOT NULL,
    "project_id" TEXT NOT NULL,
    "url" TEXT NOT NULL,
    "type" "ImageType" NOT NULL,
    "caption" TEXT,
    "sort_order" INTEGER NOT NULL DEFAULT 0,

    CONSTRAINT "project_images_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "amenities" (
    "id" TEXT NOT NULL,
    "project_id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "category" "AmenityCategory" NOT NULL,

    CONSTRAINT "amenities_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "connectivity" (
    "id" TEXT NOT NULL,
    "project_id" TEXT NOT NULL,
    "type" "ConnectivityType" NOT NULL,
    "name" TEXT NOT NULL,
    "distance_km" DOUBLE PRECISION,
    "data_source" "DataSource" NOT NULL DEFAULT 'brochure',
    "notes" TEXT,

    CONSTRAINT "connectivity_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "chat_sessions" (
    "id" TEXT NOT NULL,
    "user_id" TEXT,
    "guest_token" TEXT,
    "title" TEXT,
    "message_count" INTEGER NOT NULL DEFAULT 0,
    "chat_phase" TEXT NOT NULL DEFAULT 'DISCOVERY',
    "summary" TEXT,
    "last_projects" JSONB,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "last_active" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "chat_sessions_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "chat_messages" (
    "id" TEXT NOT NULL,
    "session_id" TEXT NOT NULL,
    "role" "MessageRole" NOT NULL,
    "content" TEXT NOT NULL,
    "intent_snapshot" JSONB,
    "artifacts" JSONB,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "chat_messages_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "user_memory" (
    "id" TEXT NOT NULL,
    "user_id" TEXT,
    "guest_token" TEXT,
    "bhk_preference" INTEGER,
    "budget_min_cr" DOUBLE PRECISION,
    "budget_max_cr" DOUBLE PRECISION,
    "sector_preference" TEXT,
    "purpose" TEXT,
    "possession_pref" TEXT,
    "viewed_slugs" TEXT[],
    "rejected_slugs" TEXT[],
    "saved_slugs" TEXT[],
    "summary_text" TEXT,
    "work_location" TEXT,
    "home_loan_pre_approved" BOOLEAN,
    "timeline_months" INTEGER,
    "contact_phone" TEXT,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "user_memory_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "saved_properties" (
    "id" TEXT NOT NULL,
    "user_id" TEXT NOT NULL,
    "project_id" TEXT NOT NULL,
    "saved_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "saved_properties_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "site_visit_requests" (
    "id" TEXT NOT NULL,
    "project_id" TEXT NOT NULL,
    "project_slug" TEXT NOT NULL,
    "project_name" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "phone" TEXT NOT NULL,
    "email" TEXT,
    "visit_date" TIMESTAMP(3) NOT NULL,
    "time_slot" TEXT NOT NULL,
    "message" TEXT,
    "status" "SiteVisitStatus" NOT NULL DEFAULT 'pending',
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "site_visit_requests_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "callback_requests" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "phone" TEXT NOT NULL,
    "project_name" TEXT,
    "project_slug" TEXT,
    "user_id" TEXT,
    "guest_token" TEXT,
    "status" TEXT NOT NULL DEFAULT 'new',
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "callback_requests_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "price_alerts" (
    "id" TEXT NOT NULL,
    "user_id" TEXT,
    "guest_token" TEXT,
    "project_id" TEXT NOT NULL,
    "project_slug" TEXT NOT NULL,
    "target_price_cr" DOUBLE PRECISION NOT NULL,
    "notified" BOOLEAN NOT NULL DEFAULT false,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "price_alerts_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "project_documents" (
    "id" TEXT NOT NULL,
    "project_id" TEXT NOT NULL,
    "project_slug" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "storage_url" TEXT NOT NULL,
    "content_text" TEXT,
    "doc_type" TEXT NOT NULL DEFAULT 'brochure',
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "project_documents_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "builders_name_key" ON "builders"("name");

-- CreateIndex
CREATE UNIQUE INDEX "builders_slug_key" ON "builders"("slug");

-- CreateIndex
CREATE UNIQUE INDEX "projects_slug_key" ON "projects"("slug");

-- CreateIndex
CREATE INDEX "projects_city_sector_idx" ON "projects"("city", "sector");

-- CreateIndex
CREATE INDEX "projects_status_idx" ON "projects"("status");

-- CreateIndex
CREATE INDEX "projects_possession_date_idx" ON "projects"("possession_date");

-- CreateIndex
CREATE INDEX "projects_builder_id_idx" ON "projects"("builder_id");

-- CreateIndex
CREATE INDEX "unit_types_project_id_bhk_idx" ON "unit_types"("project_id", "bhk");

-- CreateIndex
CREATE INDEX "unit_types_project_id_price_min_cr_price_max_cr_idx" ON "unit_types"("project_id", "price_min_cr", "price_max_cr");

-- CreateIndex
CREATE INDEX "project_images_project_id_type_idx" ON "project_images"("project_id", "type");

-- CreateIndex
CREATE INDEX "amenities_project_id_idx" ON "amenities"("project_id");

-- CreateIndex
CREATE INDEX "connectivity_project_id_idx" ON "connectivity"("project_id");

-- CreateIndex
CREATE INDEX "chat_sessions_user_id_idx" ON "chat_sessions"("user_id");

-- CreateIndex
CREATE INDEX "chat_sessions_guest_token_idx" ON "chat_sessions"("guest_token");

-- CreateIndex
CREATE INDEX "chat_messages_session_id_created_at_idx" ON "chat_messages"("session_id", "created_at");

-- CreateIndex
CREATE UNIQUE INDEX "user_memory_user_id_key" ON "user_memory"("user_id");

-- CreateIndex
CREATE UNIQUE INDEX "user_memory_guest_token_key" ON "user_memory"("guest_token");

-- CreateIndex
CREATE INDEX "saved_properties_user_id_idx" ON "saved_properties"("user_id");

-- CreateIndex
CREATE UNIQUE INDEX "saved_properties_user_id_project_id_key" ON "saved_properties"("user_id", "project_id");

-- CreateIndex
CREATE INDEX "site_visit_requests_project_slug_idx" ON "site_visit_requests"("project_slug");

-- CreateIndex
CREATE INDEX "callback_requests_project_slug_idx" ON "callback_requests"("project_slug");

-- CreateIndex
CREATE INDEX "price_alerts_project_slug_idx" ON "price_alerts"("project_slug");

-- CreateIndex
CREATE INDEX "project_documents_project_slug_idx" ON "project_documents"("project_slug");

-- AddForeignKey
ALTER TABLE "projects" ADD CONSTRAINT "projects_builder_id_fkey" FOREIGN KEY ("builder_id") REFERENCES "builders"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "unit_types" ADD CONSTRAINT "unit_types_project_id_fkey" FOREIGN KEY ("project_id") REFERENCES "projects"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "project_images" ADD CONSTRAINT "project_images_project_id_fkey" FOREIGN KEY ("project_id") REFERENCES "projects"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "amenities" ADD CONSTRAINT "amenities_project_id_fkey" FOREIGN KEY ("project_id") REFERENCES "projects"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "connectivity" ADD CONSTRAINT "connectivity_project_id_fkey" FOREIGN KEY ("project_id") REFERENCES "projects"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "chat_messages" ADD CONSTRAINT "chat_messages_session_id_fkey" FOREIGN KEY ("session_id") REFERENCES "chat_sessions"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "saved_properties" ADD CONSTRAINT "saved_properties_project_id_fkey" FOREIGN KEY ("project_id") REFERENCES "projects"("id") ON DELETE CASCADE ON UPDATE CASCADE;

